.aboutComponent_container {
  padding: 20px;
}
.text_container {
  position: absolute;
  margin-top: 20px;
  width: 1200px;
  left: -1600px;
}
.title {
  margin-bottom: 15px;

  color: #000000c0;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.text {
  margin-bottom: 15px;

  color: #000000c0;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.1em;
}
